<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magic Link</title>
</head>

<body>
  <main>
    <div class="email-content">
      <h2>Hello!</h2>
      <p>Check the link below</p>
      <a href="{{ .SiteURL }}?token_hash={{ .TokenHash }}&type=magiclink">
        {{ .SiteURL }}?token_hash={{ .TokenHash }}&type=magiclink
      </a>
      <p>Or use the following token code {{ .Token }}</p>
    </div>
  </main>
</body>

</html>
