<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
</head>

<body>
  <main>
    <div>
      <h2>Olá!</h2>
      <p>Acesse o link abaixo:</p>
      <a href="{{ .SiteURL }}/confirmar?token_hash={{ .TokenHash }}&type=recovery">
        {{ .SiteURL }}/confirmar?token_hash={{ .TokenHash }}&type=recovery
      </a>
      <p>Se você não solicitou a recuperação, ignore este email.</p>
    </div>
  </main>
</body>

</html>